body {
  background-color: #050505;
  font-family: 'Work Sans', sans-serif;
  color: hsla(0, 0%, 100%, 0.9);
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 400;
}

h1 {
  max-width: none;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 4.8em;
  line-height: 1.1em;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0.5em;
  color: rgba(5, 5, 5, 0.9);
  font-size: 3em;
  line-height: 1.2em;
  font-weight: 700;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0.25em;
  color: rgba(5, 5, 5, 0.9);
  font-size: 0.75em;
  line-height: 1em;
  font-weight: 500;
  text-transform: uppercase;
}

p {
  margin-bottom: 0.5em;
  color: rgba(5, 5, 5, 0.9);
}

a {
  color: #96e6a1;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 70em;
  margin-top: 0px;
  margin-bottom: 1px;
  padding-left: 40px;
}

li {
  padding-top: 1.5em;
  padding-right: 3em;
}

strong {
  font-weight: bold;
}

.full-vh {
  min-height: 100vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.main-cointainer {
  position: absolute;
  left: 0px;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 1600px;
  padding: 4em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.v-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute!important;
  white-space: nowrap;
  width: 1px;
}

.h-gradient {
  display: block;
  background-image: linear-gradient(160deg, #d333f3, #f0955d 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar {
  margin-top: 3em;
  background-color: transparent;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.b-rounded {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 3px;
  min-width: 3em;
  padding: 0px 1.5em;
  border-radius: 3em;
  background-color: rgba(20, 20, 20, 0.9);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: hsla(0, 0%, 100%, 0.9);
  line-height: 3em;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.b-rounded:hover {
  box-shadow: 0 20px 16px 1px #000;
  -webkit-transform: translate(0px, -12px);
  -ms-transform: translate(0px, -12px);
  transform: translate(0px, -12px);
  text-decoration: none;
}

.nav-column {
  margin-right: 1em;
}

.icon-fa {
  margin-left: 0.5em;
  background-image: linear-gradient(160deg, #96e6a1, #d4fc79);
  font-family: 'Fa solid 900', sans-serif;
  font-weight: 900;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-sec {
  background-color: #f4f4f4;
  box-shadow: 0 -40px 80px 0 rgba(0, 0, 0, 0.1);
}

.project-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1600px;
  padding: 4em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.large-paragraph {
  margin-bottom: 0px;
  color: hsla(0, 0%, 100%, 0.9);
  font-size: 1.2em;
  line-height: 1.7em;
}

.large-paragraph.first {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.project-description.mb-05 {
  margin-bottom: 0.5em;
}

.project-description.last {
  margin-bottom: 0px;
}

.project-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.project-graphics {
  width: 57.5%;
}

.project-image {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 65%;
}

.project-image.image {
  position: absolute;
  top: 0px;
  bottom: 0px;
  max-width: none;
  padding-top: 0px;
}

.main-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 92%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.text-light-grey {
  color: rgba(5, 5, 5, 0.7);
}

.main-cointainer-bio {
  position: static;
  left: 0px;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 1600px;
  padding: 4em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.sb {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 50%;
}

.sec-bio {
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#191919), color-stop(18%, #141414));
  background-image: linear-gradient(180deg, #191919, #141414 18%);
}

.title-content {
  position: relative;
  z-index: 99;
  max-width: 80ch;
}

.bio-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.btn-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0em;
}

.project-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 3px;
  min-width: 3em;
  padding: 0px 1.5em;
  border-radius: 3em;
  background-color: rgba(5, 5, 5, 0.9);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: hsla(0, 0%, 100%, 0.9);
  line-height: 3em;
}

.project-btn:hover {
  box-shadow: 0 20px 16px 1px rgba(5, 5, 5, 0.2);
  -webkit-transform: translate(0px, -16px);
  -ms-transform: translate(0px, -16px);
  transform: translate(0px, -16px);
}

.project-btn.w--current:hover {
  box-shadow: 0 20px 16px 1px rgba(5, 5, 5, 0.2);
}

.icon-fa-90 {
  margin-left: 0.5em;
  background-image: linear-gradient(160deg, #d333f3, #f0955d);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-family: 'Fa solid 900', sans-serif;
  font-weight: 900;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-cointainer {
  position: static;
  left: 0px;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 1600px;
  padding: 4em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.footer-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-title-content {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footnote {
  margin-right: 1em;
  margin-bottom: 0px;
  color: hsla(0, 0%, 100%, 0.3);
  font-size: 0.7em;
  letter-spacing: 0.2px;
}

.icon-up {
  background-image: linear-gradient(160deg, #d4fc79, #96e6a1);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  font-family: 'Fa solid 900', sans-serif;
  font-size: 2em;
  line-height: 1em;
  font-weight: 900;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-up:hover {
  text-decoration: none;
}

.back-to-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  border-radius: 3em;
  background-color: rgba(20, 20, 20, 0.9);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: hsla(0, 0%, 100%, 0.9);
  line-height: 3em;
}

.back-to-top:hover {
  box-shadow: 0 20px 16px 1px #000;
  -webkit-transform: translate(0px, -16px);
  -ms-transform: translate(0px, -16px);
  transform: translate(0px, -16px);
  text-decoration: none;
}

.footnote-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.h-gradient-green {
  display: block;
  background-image: linear-gradient(160deg, #96e6a1, #d4fc79 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.progress-bar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 9999;
  width: 100%;
  height: 0.5em;
  background-image: -webkit-gradient(linear, left top, right top, from(#96e6a1), to(#d4fc79));
  background-image: linear-gradient(90deg, #96e6a1, #d4fc79);
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.balance-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-mask {
  overflow: hidden;
}

.h1-anim.h-gradient {
  background-image: linear-gradient(160deg, #d333f3, #f0955d 70%);
}

.project-label {
  padding: 0.75em;
  border-radius: 8px;
  background-color: #96e6a1;
  background-image: linear-gradient(160deg, #96e6a1, #d4fc79 70%);
}

.dark {
  color: rgba(5, 5, 5, 0.9);
}

.sb30 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 50%;
}

.snowboard {
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 50%;
}

.balance {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 50%;
  height: 100%;
  padding-top: 4em;
  padding-bottom: 4em;
}

@media screen and (min-width: 1440px) {
  .h-gradient {
    max-width: 20ch;
  }

  .project-image.image {
    -o-object-fit: contain;
    object-fit: contain;
  }

  .image {
    position: absolute;
    top: 0px;
    bottom: 0px;
  }
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 4em;
  }

  .main-cointainer {
    padding: 2em;
  }

  .project-container {
    padding: 2em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .project-content {
    width: 100%;
    padding-bottom: 2em;
  }

  .project-graphics {
    width: 100%;
  }

  .main-content {
    width: 100%;
  }

  .main-cointainer-bio {
    padding: 2em;
  }

  .title-content {
    width: 100%;
  }

  .bio-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .btn-col {
    margin-bottom: 1.5em;
  }

  .footer-cointainer {
    padding: 2em;
  }

  .sb30 {
    bottom: auto;
  }

  .balance {
    bottom: auto;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  .main-cointainer {
    padding: 2em 1em;
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
  }

  .navbar {
    width: 100%;
  }

  .nav-menu {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .b-rounded {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .nav-column {
    margin-right: 0em;
    margin-bottom: 1em;
  }

  .project-container {
    padding: 2em 1em;
  }

  .large-paragraph {
    font-size: 1em;
    line-height: 1.5em;
  }

  .main-cointainer-bio {
    padding: 2em 1em;
  }

  .title-content {
    width: 100%;
  }

  .btn-col {
    margin-right: 0em;
    margin-bottom: 1em;
  }

  .project-btn {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .footer-cointainer {
    padding: 2em 1em;
  }

  .back-to-top {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media screen and (max-width: 479px) {
  .project-sec {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .main-cointainer-bio {
    margin-right: auto;
    margin-left: auto;
  }

  .sb {
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    width: 80%;
  }

  .title-content.bio {
    padding-top: 10em;
  }

  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .footer-title-content {
    width: 100%;
  }

  .balance-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .sb30 {
    position: absolute;
    width: 85%;
  }

  .snowboard {
    bottom: auto;
    width: 80%;
  }

  .balance {
    position: absolute;
    width: 50%;
    height: 100%;
  }
}

@font-face {
  font-family: 'Fa solid 900';
  src: url('../fonts/fa-solid-900.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}